# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Folders
# Original data
extdata/
# 00_Starting point
00_preprocess_cohorts/data/GenusIntersect
00_preprocess_cohorts/data/processed_pseqs
00_preprocess_cohorts/data/SpeciesIntersect
# 01_Get CSTs
01_get_valencias/data
01_get_valencias/res
01_get_valencias/utils
# 0_2Clustering
02_cluster/data
02_cluster/res
# 03_Machine Learning
03_machine_learning/code/old
03_machine_learning/data
03_machine_learning/res
03_machine_learning/model
# 04_treatment
04_treatment/data
04_treatment/res
# figures
figures/plots
trash/

# Extensions
Icon
Icon?
.DS_Store
*.DS_Store
*.xlsx
*.pdf
*.png
*.Rmd
*.html
*.rds
*.txt
*.pdf
*.svg